body{
    background-color: lightcoral;
    text-align: center;
    color: palegoldenrod;
    font-family: Helvetica;
    
}
a{
    color: peachpuff;
    text-decoration: none;
}
a:hover{
    color: paleturquoise;
}
main{
    text-align: left;
    margin-left: 20%;
    margin-right: 20%;
}
h2{
    text-align: center;
}
img{
    width: 50%;
}
figure{
    text-align: center;
    font-style: italic;
}
ul{
    text-align: left;
}
li{
    text-align: left;
    margin: 10px;
}
html{
    border: 20px solid peachpuff;
    padding: 0;
}
main{
    text-align: center;
}
img{
    border: 5px solid peachpuff;
}
.noborder{
    border: none;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
}
th, td {
    border: 4px solid peachpuff;
    padding: 8px;
    text-align: left;
}
th {
    background-color: peachpuff;
    color: teal;
}

tr:nth-child(even) {
    background-color: teal;
    color: lightsalmon
}
tr:nth-child(odd) {
    background-color: lightsalmon;
    color: teal;
}
figure {
    margin-top: 20px;
}
figcaption {
    font-weight: bold;
    margin-bottom: 10px;
}
input, select, button {
    margin-bottom: 10px;
    padding: 8px;
    border: 3px solid peachpuff;
    Background-color: lightsalmon;
    color: teal;
    border-radius: 5px;
}
button {
    background-color: teal;
    color: peachpuff;
}
input {
    font-size: 16px;
    color: teal;
    box-sizing: border-box;

}
.left{
    text-align: left;
}
input::placeholder {
    color: teal;
}
